---
layout: default
---
<div class="row">
  <div class="row">
    {% assign sorted_array = site.workflows | sort: "title" %}
    {% for workflow in sorted_array %}
    <div class="col-md-3 col-sm-6 mb-4">
      <a href="{{ workflow.url | prepend: site.baseurl }}" class="link-underline-light">
        <div class="card" style="width: 18rem;border: 0;">
          {% if workflow.icon %}
          <img class="card-img-top" style="height: 8rem; object-fit: cover" src="{{ workflow.icon }}" alt="{{workflow.title}}">
          {% endif %}
          <div class="card-body">
            <h2 class="panel-title">{{ workflow.title | truncate: 25 }}</h2>
            <p class="p-0 my-1 mx-0"><span class="post-meta"><small>version: {{ workflow.version }}</small></span></p>
            <p class="card-text">{{ workflow.descriptoin | strip_html | strip_newlines | truncate: 150 }}</p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
